@import './_colors.scss';

@mixin border_radius {
    border-radius: 2px;
}
@mixin pointer {
    cursor: pointer;
}
@mixin transition {
    transition: .15s all ease-in-out;
}

input,
.input {
    outline: 0;
    border: 1px solid rgba($col3, .5);
    box-shadow: inset 0 0 2px 2px rgba($col3, .15);
    @include border_radius;
    @include transition();
    padding: 10px;

    &:hover {
        border: 1px solid $col3;
    }
}

///////////////////////////////////

@mixin button {
    border: none;
    padding: 15px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: 0;
    margin: 5px 0;

    @include transition;
    @include border_radius;
    @include pointer;
    @include button;

    &.submit {
        background: $col5;
        color: $col5_c;
        
        &:hover {
            background: darken($col5, 10);
        }
        &::before {
            font-family: "Fontawesome";
            margin-right: 5px;
            font-size: 110%;
        }
        &.submit-addresses:before {
            content: "\f277";
            font-family: "Fontawesome";
        }
        &.signin {
            &::before {
                content: "\f007";                
                font-family: "Fontawesome";
            }
        }
        &.register {
            &::before {
                content: "\f234";                
                font-family: "Fontawesome";
            }
        }
    }
    &.cancel {
        background: $col3;
        color: $col3_c;
    }
}