@import './_colors.scss';

@mixin transition {
  transition: .15s all linear;
}

@mixin headerIcon($code) {
  content: $code;
  font-family: "Fontawesome";
  font-size: 145%;
  margin-right: 5px;
}
// reset some things first
input,
button {
  outline: none;
}
$font_sm: 9px;
$font_m: 13px;
$font_l: 17px;
$font_xl: 21px;

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  line-height: 1.15;
}
a {
  text-decoration: none;
  color: inherit;
}
// lines
hr {
  background: #dedede3d;
  width: 100%;
  margin: 20px 0;
  border-style: dotted;
  border-width: 1px;
  border-color: $col1;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;  
  font-size: $font_m;
  line-height: 1.15;
  color: $col5;
}
#root {
  display: flex;
  //height: 100vh;
  justify-content: center;
}
#app {
  display: flex;
  flex-direction: column;
  
  //height: 100vh;
  flex: 1;
  max-width: 1000px;
  
  box-shadow: 0 2px 13px #b9b9b9;

  & .content {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    & .subtitle {
      font-weight: bold; 
      font-size: 115%;
      padding-top: 10px;
      padding-bottom: 5px;
    }
    & .text {
      padding-bottom: 5px;
    }
    & form {
      max-width: 400px;
    }
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;

  font-size: $font_l;
  
  background: $col5;
  color: $col5_c;    
  box-shadow: 0 4px 8px -2px rgba(5, 62, 57, 0.8);
  z-index: 1;
  
  & .appname {
    display: flex;
    align-items: center;

    &:before {
      content: "\f232";
      font-family: 'Fontawesome';
      font-size: 130%;
  }
    
    & .title_slogan {
      margin-left: 10px;
      text-transform: uppercase;
      & .title {
        font-weight: bold;
      }
      & .slogan {
        font-size: $font_sm;
      }
    }
  }
  & .links {
    font-size: $font_m;
    display: flex;
    align-items: center;

    & div {
      display: flex;
      & .login-register {
        flex: 1;
        display: flex;
        
        & a {
          flex: 1;
        }
      }
      & a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin-right: 2px;
        @include transition;
  
        &:hover,
        &.active {
          background: $col3_c;
          color: $col3;
        }
        &.login {
          &::before {
            @include headerIcon("\F007")
          }
        }
        &.register {
          &::before {
            @include headerIcon("\F234")
          }
        }
        &.route {
          &::before {
            @include headerIcon("\F277")
          }
        }
        &.profile {
          &::before {
            @include headerIcon("\f14e")
          }
        }
      }
    }
    & .language-switcher {
      border: 1px solid $col3_c;
      color: $col3;
      max-width: 150px;
      padding: 5px;
    }
  }
}

.map-complete {
  flex: 1;

  display: flex;
  //flex-direction: column;

  & .map-infos {
    width: 300px;
    padding: 20px;

    box-shadow: 12px 0px 10px -8px #c5c5c5;
    z-index: 1;
    box-sizing: border-box;
    
    & > .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: $col3;
    }

    & .map-address-input {
      display: flex;
      flex-direction: column;
      
      & > .label {
        text-align: center;
      }
      & #PlacesAutocomplete__root {
        flex: 1;

        display: flex;
        margin-bottom: 10px;
        
        & button {
          padding: 10px !important;
        }
      }
    }
    & .textarea {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      min-height: 125px;
    }
  }
  & .map {
    height: 100%;
    width: 100%;
    flex: 1;

    display: flex;

    & .map-layout {
      height: 100%; 
      position: relative; 
      overflow: hidden;
    }
  }
  & .map-element {
    flex: 1;
  }
}

.language-switcher {
  border: 1px solid $col3;
  color: $col3;
  max-width: 150px;
  padding: 5px;
}
.login-form {
  & form {
    display: flex;
    flex-direction: column;
    & .input {
      margin-bottom: 10px;
      border: 1px solid $col1;
    }
  }
}

.share-buttons {
  display: flex;
  justify-content: center;    
  flex-wrap: wrap;
  text-align: center;
  & .title {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0;
  }
  & .button {
    padding: 5px;    
  }
}