@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans");
input,
button,
select {
  outline: none; }

button,
select {
  cursor: pointer; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  line-height: 1.15; }

a {
  text-decoration: none;
  color: inherit; }

hr {
  background: #dedede3d;
  width: 100%;
  margin: 20px 0;
  border-style: dotted;
  border-width: 1px;
  border-color: #A9CAF0; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.15;
  color: #1DA79C; }

#root {
  display: flex;
  justify-content: center; }

#app {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 1000px;
  box-shadow: 0 2px 13px #b9b9b9; }
  #app .content {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #app .content .subtitle {
      font-weight: bold;
      font-size: 115%;
      padding-top: 10px;
      padding-bottom: 5px; }
    #app .content .text {
      padding-bottom: 5px; }
    #app .content form {
      max-width: 400px; }
  #app .date-time-picker {
    display: flex;
    flex-direction: column;
    margin: 10px 0; }
    #app .date-time-picker .label {
      text-align: center;
      margin-bottom: 3px; }
    #app .date-time-picker .date-picker,
    #app .date-time-picker .time-picker {
      display: flex; }
      #app .date-time-picker .date-picker select,
      #app .date-time-picker .time-picker select {
        margin-bottom: 10px;
        border: 1px solid #CE391F;
        color: #CE391F;
        max-width: 150px;
        padding: 5px;
        flex: 1;
        margin-right: 7px;
        outline: none;
        border: 1px solid rgba(206, 57, 31, 0.5);
        border-radius: 2px;
        transition: .15s all linear; }
        #app .date-time-picker .date-picker select:hover,
        #app .date-time-picker .time-picker select:hover {
          border: 1px solid #CE391F; }
      #app .date-time-picker .date-picker select:last-of-type,
      #app .date-time-picker .time-picker select:last-of-type {
        margin-right: 0; }
    #app .date-time-picker .time-picker {
      justify-content: center; }
      #app .date-time-picker .time-picker select {
        flex: initial; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 17px;
  background: #1DA79C;
  color: #fff;
  box-shadow: 0 4px 8px -2px rgba(5, 62, 57, 0.8);
  z-index: 1; }
  .header .appname {
    display: flex;
    align-items: center; }
    .header .appname:before {
      content: "\f232";
      font-family: 'Fontawesome';
      font-size: 130%; }
    .header .appname .title_slogan {
      margin-left: 10px;
      text-transform: uppercase; }
      .header .appname .title_slogan .title {
        font-weight: bold; }
      .header .appname .title_slogan .slogan {
        font-size: 9px; }
  .header .links {
    font-size: 13px;
    display: flex;
    align-items: center; }
    .header .links div {
      display: flex; }
      .header .links div .login-register {
        flex: 1;
        display: flex; }
        .header .links div .login-register a {
          flex: 1; }
      .header .links div a {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        margin-right: 2px;
        border-radius: 2px;
        transition: .15s all linear; }
        .header .links div a:hover, .header .links div a.active {
          background: #fff;
          color: #CE391F; }
        .header .links div a.login::before {
          content: "";
          font-family: "Fontawesome";
          font-size: 145%;
          margin-right: 5px; }
        .header .links div a.register::before {
          content: "";
          font-family: "Fontawesome";
          font-size: 145%;
          margin-right: 5px; }
        .header .links div a.route::before {
          content: "";
          font-family: "Fontawesome";
          font-size: 145%;
          margin-right: 5px; }
        .header .links div a.profile::before {
          content: "";
          font-family: "Fontawesome";
          font-size: 145%;
          margin-right: 5px; }
    .header .links .language-switcher {
      border: 1px solid #fff;
      color: #CE391F;
      max-width: 150px;
      padding: 5px; }

.map-complete {
  flex: 1;
  display: flex; }
  .map-complete .map-infos {
    width: 300px;
    padding: 20px;
    box-shadow: 12px 0px 10px -8px #c5c5c5;
    z-index: 1;
    box-sizing: border-box; }
    .map-complete .map-infos > .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: #CE391F; }
    .map-complete .map-infos .map-address-input {
      display: flex;
      flex-direction: column; }
      .map-complete .map-infos .map-address-input > .label {
        text-align: center;
        margin: 7px 0 3px 0; }
      .map-complete .map-infos .map-address-input #PlacesAutocomplete__root {
        flex: 1;
        display: flex;
        margin-bottom: 10px; }
        .map-complete .map-infos .map-address-input #PlacesAutocomplete__root button {
          padding: 10px !important; }
    .map-complete .map-infos .textarea {
      width: 100% !important;
      min-width: 100% !important;
      max-width: 100% !important;
      min-height: 125px; }
  .map-complete .map {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex; }
    .map-complete .map .map-layout {
      height: 100%;
      position: relative;
      overflow: hidden; }
  .map-complete .map-element {
    flex: 1; }

.language-switcher {
  border: 1px solid #CE391F;
  color: #CE391F;
  max-width: 150px;
  padding: 5px; }

.login-form form {
  display: flex;
  flex-direction: column; }
  .login-form form .input {
    margin-bottom: 10px;
    border: 1px solid #A9CAF0; }

.share-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center; }
  .share-buttons .title {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0; }
  .share-buttons .button {
    padding: 5px; }

input,
.input {
  outline: 0;
  border: 1px solid rgba(206, 57, 31, 0.5);
  box-shadow: inset 0 0 2px 2px rgba(206, 57, 31, 0.15);
  border-radius: 2px;
  transition: .15s all ease-in-out;
  padding: 10px; }
  input:hover,
  .input:hover {
    border: 1px solid #CE391F; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  margin: 5px 0;
  transition: .15s all ease-in-out;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  padding: 15px; }
  .button.submit {
    background: #1DA79C;
    color: #fff; }
    .button.submit:hover {
      background: #157c73; }
    .button.submit::before {
      font-family: "Fontawesome";
      margin-right: 5px;
      font-size: 110%; }
    .button.submit.submit-addresses:before {
      content: "\f277";
      font-family: "Fontawesome"; }
    .button.submit.signin::before {
      content: "\f007";
      font-family: "Fontawesome"; }
    .button.submit.register::before {
      content: "\f234";
      font-family: "Fontawesome"; }
  .button.cancel {
    background: #CE391F;
    color: #fff; }
