@import url("https://fonts.googleapis.com/css?family=Lora|Open+Sans");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  line-height: 1.15; }

a {
  text-decoration: none;
  color: inherit; }

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #CE391F; }

#root {
  display: flex;
  width: 100vw;
  justify-content: center; }

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex: 1;
  max-width: 1000px;
  box-shadow: 0 2px 13px #b9b9b9; }
  #app .content {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    flex-direction: column; }
    #app .content form {
      max-width: 400px; }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 17px;
  background: #1DA79C;
  color: #fff;
  box-shadow: 0 4px 8px -2px rgba(5, 62, 57, 0.8);
  z-index: 1;
  /*   & .icon {
    font-size: $font_m;
  } */ }
  .header .appname {
    display: flex;
    align-items: center; }
    .header .appname .title_slogan {
      margin-left: 10px;
      text-transform: uppercase; }
      .header .appname .title_slogan .title {
        font-weight: bold; }
      .header .appname .title_slogan .slogan {
        font-size: 9px; }
  .header .links {
    font-size: 13px; }
    .header .links a {
      padding: 10px 15px;
      margin-right: 2px;
      transition: .15s all linear; }
      .header .links a:hover, .header .links a.active {
        background: #fff;
        color: #1DA79C; }

.map-complete {
  flex: 1;
  display: flex; }
  .map-complete .map-infos {
    width: 300px;
    padding: 20px;
    box-shadow: 12px 0px 10px -8px #c5c5c5;
    z-index: 1; }
    .map-complete .map-infos > .title {
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
      color: #1DA79C; }
    .map-complete .map-infos .map-address-input {
      display: flex;
      flex-direction: column; }
      .map-complete .map-infos .map-address-input > .label {
        text-align: center; }
      .map-complete .map-infos .map-address-input #PlacesAutocomplete__root {
        flex: 1;
        display: flex;
        margin-bottom: 10px; }
        .map-complete .map-infos .map-address-input #PlacesAutocomplete__root input {
          flex: 1;
          position: initial !important;
          width: initial !important; }
        .map-complete .map-infos .map-address-input #PlacesAutocomplete__root button {
          padding: 10px !important; }
  .map-complete .map {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex; }
    .map-complete .map .map-layout {
      height: 100%;
      position: relative;
      overflow: hidden; }
  .map-complete .map-element {
    flex: 1; }

.login-form form {
  display: flex;
  flex-direction: column; }
  .login-form form .input {
    margin-bottom: 10px; }

input,
.input {
  outline: 0;
  border: 1px solid rgba(29, 167, 156, 0.5);
  box-shadow: inset 0 0 2px 2px rgba(29, 167, 156, 0.15);
  border-radius: 2px;
  transition: .15s all ease-in-out;
  padding: 10px; }
  input:hover,
  .input:hover {
    border: 1px solid #1DA79C; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  transition: .15s all ease-in-out;
  border-radius: 2px; }
  .button .icon {
    margin-right: 13px;
    font-size: inherit; }

.button.submit {
  background: #CE391F;
  color: #fff;
  border: none;
  padding: 15px; }
  .button.submit:hover {
    background: #a22d18;
    cursor: pointer; }
