body {
  padding: 0;
  margin: 0; }

.map-container .map-addresses-input {
  display: flex; }
  .map-container .map-addresses-input form.map-address-input {
    position: relative;
    box-sizing: border-box;
    flex: 1;
    z-index: 1; }
    .map-container .map-addresses-input form.map-address-input button {
      display: none;
      margin-bottom: 5px; }

.map-container .map {
  height: 100vh; }
  .map-container .map .map-layout {
    height: 100%;
    position: relative;
    overflow: hidden; }
